/*Variables*/

:root {
    --primary: hsl(223, 87%, 63%);
    --secondary: hsl(223, 100%, 88%);
    --neutral: hsl(0, 0%, 59%);
}


/*reset*/

body,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

div.p {
    text-align: center;
}

body {
    background: white;
    overflow-x: hidden;
    font-family: LibreFranklin;
    font-size: 20px;
}

button {
    background-color: var(--primary);
    border-radius: 100px;
    border: 1px solid white;
    font-size: 12px;
    width: 150px;
    height: 25px;
}

.button,
textarea {
    color: whitesmoke;
}

button:hover {
    color: var(--secondary);
    background-color: var(--primary)
}

input {
    border-radius: 150px;
    display: inline-block;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    width: 200px;
    height: 10px;
}

input,
textarea {
    color: aliceblue;
}


/*fonts*/

@font-face {
    font-family: "LibreFranklin";
    src: url("assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf");
}

h1,
h2,
h4,
h5,
h6 {
    color: #a6a8ac;
    font-size: 10px;
    text-align: center;
}

p {
    text-align: center;
}

h3 {
    color: rgb(102, 101, 101);
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-bottom: 1px;
    margin-top:
}

.but {
    text-align: center;
}

.input {
    position: absolute;
    top: 355px;
    left: 575px;
    height: 100px;
    width: 50px;
}

main.dashboard {
    text-align: center;
}

.main {
    width: 200px;
    height: 120px;
}


/* Resize images */

.dashboard img {
    width: 70%;
    height: 50%;
}

svg.logo {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto
}


/*tablets an laptop styles*/

@media only screen and (max-width:960px) {
    body {
        font-size: 18px;
    }
}